<h1>Tablero Memotest</h1>

<table>
<tr>
<td>
<form method="post" action="/presionaBoton">
	<input type="submit" value="_"/>
</form></td>
<td>
<form method="post" action="/presionaBoton">
	<input type="submit" value="_"/>
</form></td>
</tr>
<tr>
<td>
<form method="post" action="/presionaBoton">
	<input type="submit" value="_"/>
</form></td>
<td>
<form method="post" action="/presionaBoton">
	<input type="submit" value="_"/>
</form></td>
</tr>
</table>
