<h1>Tablero Memotest</h1>
<% @fila = 0 %>
<% @columna = 0 %>
<% @num = 0 %>
<table>
<% @@filas.times do %>
<% @fila += 1 %>
<tr>
<% @@columnas.times do %>
<% @columna += 1 %>
<% @num += 1 %>
<td>
<form method="post" action="/presionaBoton/<%=@num%>">
	<input type="submit" value="_" id="b<%=@num%>"/>
</form>
</td>
<% end %>
</tr>
<% end %>
</table>

<p> Resultado Memotest : <%= @resultado %>  </p>
