<h1>Tablero Memotest</h1>

<table>
<tr>
<td>
<form method="post" action="/presionaBoton1">
	<input type="submit" value="_" id="b1"/>
</form></td>
<td>
<form method="post" action="/presionaBoton2">
	<input type="submit" value="_" id="b2" />
</form></td>
</tr>
<tr>
<td>
<form method="post" action="/presionaBoton3">
	<input type="submit" value="_" id="b3"/>
</form></td>
<td>
<form method="post" action="/presionaBoton4">
	<input type="submit" value="_" id="b4"/>
</form></td>
</tr>
</table>
<p> Resultado Memotest : <%= @resultado %>  </p>
